.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .mat-form-field {
    margin-bottom: 20px;
    width: 300px;
  }
  
  button {
    margin-top: 20px;
  }
  .custom-toolbar{
    background-color: brown;
}
.centrar{
    text-align: center; /* Centrar horizontalmente */
    display: flex; /* Utilizamos flexbox para centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente con flexbox */
    width: 100%; /* Ancho completo */
    font-size: large;
    font-size: 40px;
    font-weight: bold;
    color: blanchedalmond;
    
}
.centrar2{
  text-align: center; /* Centrar horizontalmente */
  display: flex; /* Utilizamos flexbox para centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente con flexbox */
  width: 100%; /* Ancho completo */
  font-size: 15px;
  font-weight:lighter;
  color: rgb(0, 0, 0);
  
}

.datatable-content{
    margin: 10px;
    width: max-content;
    display: flex;       
}

.datatable-content .columnas{
    background-color: rgb(248, 248, 248);
    padding: 15px ;
    max-width: 100%;
    row-gap: 50%;
      
}

mat-card {
    margin: 20px;
  }
  
  mat-toolbar {
    margin-bottom: 20px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
  }
  
  .full-width-card {
    width: 100%;
  }

  .year-selection {
    display: flex;
    justify-content: space-between;
  }
  
  .input-container {
    flex: 1;
    margin-right: 10px; 
  }
   
  .example-card {
    width: 400px; 
    margin: auto; 
    margin-top: 20px; 
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  .input-container {
    flex: 1;
    margin-right: 10px; 
  }
    
  .validation-message {
    text-align: center; 
    font-size: 15px;
    color:brown;

  }
  
  .footer {
    background-color: brown; 
    font-size: 15px;
    font-weight: bold;
    color: blanchedalmond;
    text-align: center; /* Centrar horizontalmente */
    display: flex; /* Utilizamos flexbox para centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente con flexbox */
    width: 100%; /* Ancho completo */
  }